MC_SERVER_ADDRESS=<UR ADDRESS>
TELEGRAM_BOT_TOKEN=<UR BOT TOKEN>
TELEGRAM_CHAT_ID=<CHAT ID(SEE README(COMING SOON))>
POLL_INTERVAL_SECS=10
LOG_TOPIC_ID=<CONNECTION LOG TOPIC ID>
PLAYERS_TOPIC_ID=<PLAYER BOARD TOPIC ID>